{% extends "layout.html" %}
{% block title %}
Converted image
{% endblock %}
{% block content %}
<h1>Image preview</h1>
This is a preview of what your completed project would look like! If you're not
satisfied with anything you see, scroll all the way to the bottom and you can
tweak your parameters until you are.
<table>
    <tr>
        <td><img src="{{ url_for('static', filename=in_fname) }}" class="b-and-a" /></td>
        <td><img src="{{ url_for('static', filename=out_fname) }}" class="b-and-a" /></td>
    </tr>
    <tr>
        <td>Before</td>
        <td>After</td>
    </tr>
</table>
<h1>Instructions</h1>
These are instructions for how to work your project—rows are displayed in
order from top to bottom, and each row gives instructions for working
from left to right. Colors are indexed by letters in these instructions, and you
can scroll to the very bottom to see which letters correspond to which colors.
<br><br>
<div id="instructions">{{ instructions | safe }}</div>
<h1>Edit parameters</h1>
Here you can tweak the parameters if you want to adjust your gauge, image size,
or number of colors to use. If you're not satisfied with the resolution of your
project, you'll either want to increase the size of the image, or you can swatch
with a smaller gauge needle. You may also, depending on the constraints of your
project, have luck increasing the number of colors you're using. If you want to
try with a new picture, you can go
<a href="{{ url_for('upload') }}">back to the upload page</a>.
<br><br>
{% include 'form.html' %}
{% endblock %}