{% extends "layout.html" %}
{% block title %}
Cooper Bedin
{% endblock %}
{% block content %}
Hello!! I'm a Ph.D. student in linguistics at the University of California,
Santa Barbara. I'm especially interested in the ways in which queer and trans
folks use language in unique ways to construct identity and community, and in
using computational models and methods to approach sociolinguistic problems. I
recently finished my B.A. at the University of California, Berkeley in
linguistics and computer science. While at Cal, I wrote a thesis on how to use
computational models as an alternative method for identifying acoustic signals
of queer speech, and worked as an editor on the
<a href="https://www.genderinlanguage.com/" target="_blank">Gender in Language Project</a>.
{% endblock %}