<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=League+Spartan:wght@300&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}">
  </head>
  <body>
    <header>
        <a href="{{ url_for('upload') }}">Pixelate images for needle arts</a>
    </header>
    <div id="main">
        {% block content %}
        {% endblock %}
    </div>
  </body>
</html>
