{% extends "layout.html" %}
{% block title %}
Upload image
{% endblock %}
{% block content %}
Upload the image you'd like to convert! You should also create a swatch before
filling out this page, to ensure the right stitch proportions. "Stitch
width" and "stitch height" should be the width and height of stitches as
calculated after swatching, and "project width" is the desired total width of
your project. The height of the project will be inferred from the uploaded
image. You can use whatever units you like to measure (in, cm, etc.), so long as
you're consistent.<br><br>
{% include 'form.html' %}
{% endblock %}